* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container {
    min-height: 100vh;
    margin: 20px;
    padding: 20px;
    background-color: rgb(217, 217, 217);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
